body {
    background: white;
}


.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-size: 24px; /* Puedes ajustar el tamaño de la fuente */
    font-weight: 700; /* Puedes ajustar el peso de la fuente */
}


.navbar {
    border-radius: 5px; /* Bordes redondeados */
    background-color:  #e36414;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.nav-link.active {
    color: white !important;
}

.nav-item {
    color: white;

}

.nav-link {
    color: white; /* Cambiar el color de los enlaces */
}

.nav-link:hover {
    color: #066ae4; /* Color al pasar el mouse */
}

.dropdown-menu {
    background-color: #f8f9fa; /* Fondo del menú desplegable */
}




h1, h3, h2 { 
    font-family: "Bebas Neue", sans-serif;
}




.fondonaranja {
    background-color: #e36414;
    padding: 40px 0;
}

.fondonaranja h2, .fondonaranja p {
    color: rgb(255, 236, 236); /* Cambia el color del texto a blanco */
}








footer {
    margin-top: 20px; /* Ajusta el margen superior según lo que necesites */
}

footer a {
    color: #e36414; /* Color de los enlaces en el footer */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

footer a:hover {
    text-decoration: underline; /* Subrayar los enlaces al pasar el ratón */
}